@import url('fonts/digital7mono.css');

body {
	font-family: monospace;
	color: #fbf1c7;
	margin: 0;
	background-color: #282828;
}

#settings-panel {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 20px;
}

#settings-panel button {
	width: 150px;
	height: 50px;
}

#settings-panel input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	min-width: 2ch;
	max-width: 4ch;
}

#timer-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: row;
}

.timer {
	display: inline-block;
	margin: 20px;
	padding: 25px;
	border: 5px solid;
	border-radius: 20px;
	text-align: center;
	background-color: #000;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	font-size: 150px;
}

.current-timer {
	border-color: #0f0 !important;
}

.timer:not(.current-timer) {
	opacity: 0.8;
}

.timer > .timer-value {
	user-select: none;
	font-family: 'Digital 7 mono';
	padding: 0px;
	margin: 0px;
	font-size: 1;
}

.timer > .timer-name {
	font-size: 5rem;
}
